<head>
  <title>Squad Health Check Tool</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4cae4c">
  <meta name="theme-color" content="#4cae4c">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
