/* CSS declarations go here */
body {
    padding-top: 70px;
}

footer {
    padding-top: 9px;
    margin: 20px 0;
    border-top: 1px solid #eee;
    text-align: center;
    text-size: 90%;
}

a {
    color: #ac2925;
}

a:hover {
    color: #3a3a3a;
}

.card {
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    max-width: 250px;
    background: #f5f5f5;
    border-bottom: 5px solid #e3e3e3;
}

.card.active h4 {
    color: #4cae4c;
}

.card input, .card textarea {
    border: 0;
    background: transparent;
}

.answer-link {
    width: 100%;
}

.circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid;
    margin: 20px auto;
    display: block;
}

.circle.green {
    border-color: #4cae4c;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#24bf13+0,098902+100 */
    background: #24bf13; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #24bf13 0%, #098902 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #24bf13 0%,#098902 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #24bf13 0%,#098902 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24bf13', endColorstr='#098902',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.circle.yellow {
    border-color: #eea236;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffd65e+0,febf04+100;Yellow+3D+%232 */
    background: #ffd65e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffd65e 0%, #febf04 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffd65e 0%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.circle.red {
    border-color: #ac2925;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
    background: #ff3019; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ff3019 0%, #cf0404 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #ff3019 0%,#cf0404 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #ff3019 0%,#cf0404 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.circle:hover, .circle.selected {
    border-color: #333333;
}

.circle input, .trend input {
    visibility: hidden;
}

.trend {
    font-size: 50px;
    font-weight: bold;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    display: block;
    color: #999;
    text-align: center;
}

.trend:hover, .trend.selected {
    color: #000;
}

h3.warning {
    color: #f0ad4e;
}

h3 input {
    border: 0;
}

.qr-code {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    text-align: center;
}

#login-buttons {
    padding: 20px 50px 0 0;
}

#login-dropdown-list {
    left: auto;
    right: 6px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-right {
    float: right;
}

table.table th, table.table td {
    vertical-align: middle !important;
}

span.overall {
    display: block;
    height: 50px;
    width: 50px;
}

span.overall-1-0 {
    background-image: url('/shc.png');
    background-position: 0px -102px;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
}

span.overall-1-1 {
    background-image: url('/shc.png');
    margin-left: auto;
    margin-right: auto;
}

span.overall-1--1 {
    background-image: url('/shc.png');
    background-position: 0px -52px;
    margin-left: auto;
    margin-right: auto;
}

span.overall-0-0 {
    background-image: url('/shc.png');
    background-position: -50px -102px;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
}

span.overall-0-1 {
    background-image: url('/shc.png');
    background-position: -50px 0px;
    margin-left: auto;
    margin-right: auto;
}

span.overall-0--1 {
    background-image: url('/shc.png');
    background-position: -50px -52px;
    margin-left: auto;
    margin-right: auto;
}


span.overall--1-0 {
    background-image: url('/shc.png');
    background-position: -100px -102px;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
}

span.overall--1-1 {
    background-image: url('/shc.png');
    margin-left: auto;
    margin-right: auto;
    background-position: -100px 0px;
}

span.overall--1--1 {
    background-image: url('/shc.png');
    margin-left: auto;
    margin-right: auto;
    background-position: -100px -52px;
}

