<template name="answerCard">
    <div class="col-sm-12">
        <div class="card center-block">
            <div class="card-header">
                <h4>{{ this.title }}</h4>
            </div>
            <div class="card-body">
                <span class="overall overall-{{ this.state }}-{{ this.trend }}"></span>
            </div>
        </div>
    </div>
</template>
