<template name="home">
    <div class="row">
        <div class="col-md-{{#if currentUser}}{{#if status}}8{{else}}12{{/if}}{{/if}}">
            {{#if status }}
            {{else}}
                <div class="alert alert-warning">
                    You need to be a member of <strong>Telstra-ice-spotify-healthcheck</strong> organization to start a healthcheck!
                </div>
            {{/if}}
            <div class="jumbotron">
                <h2>What is the squad health check model?</h2>
                <p>
                    If you are just looking for ideas how to measure your team health and you didn't hear about squad health
                    check before, you should read <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/"
                                                      target="_blank">this great article written by Henrik Kniberg</a>.
                </p>
            </div>
            <h3>Sooo... What is this tool for?</h3>
            <p>
                It's just for making your life easier - especially if you are a part of remote team. You can run your
                team health check online, completely free.
            </p>
            <p>
                If you are a scrum master for many teams, this tool is designed to make squad health check as fast as
                possible. And you can check the stats later!
            </p>
            <h3>Ok, but how?</h3>
            <p>
                Just start the new squad health check by clicking the button below and select questions that you want
                to ask or write down your own. Click "I'm ready.." button afterwards and you will see the page with
                answer link and QR-code to scan. On the same page you will see how many people answered the questions
                so far. After clicking "Close squad health check" button you will be redirected to last page - with the
                results. Have fun!
            </p>
            <div class="alert alert-info">
                <strong>TIP:</strong> If you are facilitating a health check on-site you can share QR-code and results
                page on TV screen for best experience.
            </div>
            <br/>
            {{#if currentUser }}
                {{#if status }}
                    <button class="btn btn-primary btn-md center-block" id="start-new-sqc">Start new squad health check!</button>
                {{/if}}
            {{/if}}
        </div>
        {{#if loggingIn}}
            <div class="col-md-4">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Checking organization membership!
            </div>
        {{else}}
            {{#if currentUser}}
                {{#if status}}
                    <div class="col-md-4">
                        {{#if checksInProgressSize}}
                            <h3>In Progress</h3>
                            <ul class="list-group">
                                {{#each checksInProgress}}
                                    <a href="{{ getFinalizeUrl _id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">{{ name }}</h5>
                                          <small><span class="badge progress-bar-info"><span class="glyphicon glyphicon-time"></span> {{ parseIsoDate createdAt }}</span></small>
                                        </div>
                                    </a>
                                {{/each}}
                            </ul>
                        {{/if}}
                        {{#if checksSize}}
                            <h3>Recently finalized</h3>
                            <div class="list-group">
                                {{#each checks}}
                                  <a href="{{ getStatsUrl _id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">{{ name }}</h5>
                                      <small><span class="badge progress-bar-info"><span class="glyphicon glyphicon-time"></span> {{ parseIsoDate createdAt }}</span> 
                                        {{#if checksPublished _id }}
                                        <span class="badge progress-bar-info"><span class="glyphicon glyphicon-floppy-saved"></span> Published</span>
                                        {{/if}}
                                        </small>
                                    </div>
                                  </a>
                                {{/each}}
                            </div>
                        {{/if}}
                        {{#if adminStatus}}
                            <button type="button" class="btn  btn-md center-block" id="published-health-checks"><span class="glyphicon glyphicon-floppy-saved"></span> Published Health Checks</button>
                        {{/if}}
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</template>
