<template name="prepare">
    <div class="row">
        <div class="col-md-12">
            <form class="check-name">
                <h3 class="{{getCounterCssClass}}">
                    <label for="check-name-input">
                        <small><i class="glyphicon glyphicon-pencil"></i></small>
                    </label>
                    <input id="check-name-input" name="name" value="{{ check.name }}" />
                    ({{activeCardsCounter}}/10) <small>(press [enter] to save title!)</small>
                </h3>
            </form>
        </div>
    </div>
    <div class="row">
        {{#each checkCards}}
            {{> card}}
        {{/each}}
        <div class="col-sm-4">
            <div class="card center-block">
                <form class="new-card">
                    <h4><input type="text" name="title" placeholder="new card"></h4>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-plus"></span>
                            <input name="pros">
                        </li>
                        <li class="list-group-item">
                            <span class="glyphicon glyphicon-minus"></span>
                            <input name="cons">
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-default center-block">add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br><button class="btn btn-primary btn-lg center-block" id="start-new-sqc">I'm ready, let's go!</button>
        </div>
    </div>
</template>

