<template name="published">
    <div class="panel panel-primary">
        <div class="panel-heading">Published Squad Health Checks</div>
        <div class="panel-body">
        <div class="list-group">
            {{#if checksPublishedCount}}
                <p>No Squad Health Checks have been published yet!</p>
            {{else}}
                {{#each checksPublished}}
                    <a href="{{ getStatsUrl _id }}" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{ name }}</h5>
                          <small>
                            <span class="badge progress-bar-info"><span class="glyphicon glyphicon-time"></span> {{ getCheckCreatedMonth createdAt }}</span> 
                            <span class="badge progress-bar-info"><span class="glyphicon glyphicon-user"></span> {{ getUserProfileName owner }}</span>
                          </small>                       
                        </div>
                    </a>
                {{/each}}
            {{/if}}
        </div>
        </div>
    </div>
</template>
