<template name="stats">    
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading ">
                <div class="row">
                    {{#each getCheck}}
                        <div class="col-md-12">
                            <h3>{{name}}</h3>
                        </div>
                        <div class="col-md-12">
                            <!--{{#if getCurrentCardOwner}}-->
                                {{#if published}}
                                    <button type="button" class="btn btn-warning text-center" id="unpublish"><span class="glyphicon glyphicon-floppy-remove"></span>  Unpublish</button>
                                {{else}}
                                    <button type="button" class="btn btn-success" id="publish"><span class="glyphicon glyphicon-floppy-saved"></span>  Publish</button>
                                {{/if}}
                            <!--{{/if}}-->
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Question</th>
                            <th class="text-center">Overall</th>
                            <th class="text-center" colspan="3">State</th>
                            <th class="text-center" colspan="3">Trend</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cards}}
                            <tr>
                                <th class="col-md-6">
                                    <div class="panel-group ">
                                      <div class="panel">
                                        <div class="panel-heading">
                                          <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#{{@index}}">{{ title }}</a>
                                          </h4>
                                        </div>
                                        <div id="{{@index}}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li class="text-success">{{pros}}</li>
                                                    <li class="text-danger">{{cons}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </th>
                                <td><span class="overall center-block {{ getOverallIconClass _id }}"></span></td>
                                <td class="success text-center" data-toggle="tooltip" title="{{getStateTooltip _id 1}}" >{{ countStateByValue _id 1 }}</td>
                                <td class="warning text-center" data-toggle="tooltip" title="{{getStateTooltip _id 0}}">{{ countStateByValue _id 0 }}</td>
                                <td class="danger text-center" data-toggle="tooltip" title="{{getStateTooltip _id -1}}">{{ countStateByValue _id -1 }}</td>
                                <td class="success text-center" data-toggle="tooltip" title="{{getTrendTooltip _id 1}}" >{{ countTrendByValue _id 1 }}</td>
                                <td class="warning text-center" data-toggle="tooltip" title="{{getTrendTooltip _id 0}}">{{ countTrendByValue _id 0 }}</td>
                                <td class="danger text-center" data-toggle="tooltip" title="{{getTrendTooltip _id -1}}">{{ countTrendByValue _id -1 }}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</template>

    